dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*_enc.wav
*.tix
docs/audiocate
docs/audiocate/*

test/output/*.wav
test/output/*.png
test/output/*.svg
test/output/*.csv
test/corpus/*.png
test/analyse/*.png
